;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[lilactown/helix "0.1.10"]]

 :dev-http {3000 "public"}

 :builds
 {:main {:target :browser
         :modules {:main {:entries [index]}}
         :devtools {:repl-init-ns index
                    :repl-pprint true}}}}